version: "3.8"
services:
  redis-cluster:
    image: grokzen/redis-cluster:latest
    ports:
      - "7000-7011:7000-7011"
    environment:
      - IP=0.0.0.0
      - MASTERS=6
      - SLAVES_PER_MASTER=1
